body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.articleBody {
    max-width: 800px;
        
}

.panel-title{
    font-size:1.6em;
}

.text-muted{
    font-size:0.8em;
}

@media (min-width:1200px) {
    .modal-xl {
        width: 100%;
        max-width: 1140px;
    }
}

/*Sam Bebenek - spinner example from https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}