@model HSNHospitalProject.Models.ViewModels.AddAppointment
@{
    ViewBag.Title = "Add";
}

<form method="POST" action="/Patients/Add">
    <h2 style="color:darkgreen;text-align:center">Patient Information</h2>
    <div>
        <label>First Name:</label>
        <input class="form-control" type="text" name="f_name" />
    </div>
    <div>
        <label>Last Name:</label>
        <input class="form-control" type="text" name="l_name" />
    </div>
    <div>
        <label>Date of Birth:</label>
        <input class="form-control" type="text" name="dob" />
    </div>
    <div>
        <label>Phone Number:</label>
        <input class="form-control" type="text" name="p_number" />
    </div>
    <div>
        <label>Email Address:</label>
        <input class="form-control" type="text" name="e_address" />
    </div>
    <div>
        <label>Address:</label>
        <input class="form-control" type="text" name="address" />
    </div>
    <div>
        <label>Health Card Number:</label>
        <input class="form-control" type="text" name="health_number" />
    </div>
    <div class="btn-warning" style="margin:1em;text-align:center;">
        <input type="submit" name="submit" class="btn-warning" style="font-size:20px;color:green" value="Add" />
    </div>
</form>