@model List<HSNHospitalProject.Models.Appointments>
@{
    ViewBag.Title = "List";
}
<div class="navbar">
    <a class="navlink" href="/Appointments/Add">Add New</a>
</div>
<div class="navbar">
    <a class="navlink" href="/Patients/List">Patient Details:</a>
</div>
<h2>Appointments</h2>
<div>
    @foreach (var appointments in @Model)
    {
        <h2 style="margin-top:1em;"><a href="/Appointments/show/@appointments.appointmentId">@appointments.appointmentDate</a></h2>
        <div style="margin-left:5em"><a href="/Patients/List/@appointments.patientId">Patient Name:@appointments.Patient.patientFName @appointments.Patient.patientLName</a></div>
        <div style="margin-left:5em"><a href="/Doctors/List/">Doctor Name:@appointments.Doctor.doctorFName @appointments.Doctor.doctorLName</a></div>
    }
</div>

